.center-text
  text-align: center

.center-block-x
  left: 50%
  transform: translateX(-50%)

.center-block-y
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.underlined-head
  padding-bottom: 10px
  border-bottom: 2px solid $text-color

.readable-text
  max-width: 700px
