@import _colors
@import _style
@import _helper_classes

@import _sidebar


#content-main
  height: 100%
  // Account for the width of the sidebar. Yes, magic numbers are evil, but I
  // can't figure out a better way.
  width: calc(100% - 48px)
  overflow: scroll
  padding: 5%

  // Animation

  &.slide-up
    position: absolute
    display: block

    &.ng-enter
      transition: top 1s ease
      top: 100vh
      z-index: 4444

    &.ng-enter-active
      top: 0


    &.ng-leave
      transition: top 1s ease
      top: 0
      z-index: 3333

    &.ng-leave-active
      top: -100vh
